@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color:#90C2E7;
}

.button {
  background-color: #94A0B3;
  border-color: #94A0B3;
}

.button:hover {
  background-color: #708099;
  border-color: #708099;
}

.button:active {
  background-color: black;
  border-color: black;
}

.nav {
  height: 65px;
  background: white;
}
